
#gbform{
    text-align: center;
    
}

#gbintroduction{
    background-color: rgb(239, 234, 241);
    border-radius: 20px 230px 500px 20px;
}

#instructionslist{
    line-height: 150%;
}

/*
#gbintroduction h2{
    color: white;
}
*/
#gbtopicidentification{
    background-color: rgb(110, 185, 219);
    border-radius: 500px 20px 20px 230px;
}
#username{
    width: 245px;
}
#gbhashtag{
    background-color: rgb(173, 233, 159);
   border-radius: 20px 230px 500px 20px;
}

#gbweblinks{
    background-color: rgb(226, 122, 221);
     border-radius: 500px 20px 20px 230px;
}
#selectbusiness{
    width: 245px;
    color: blue;
    text-align: center;
}

#selectcategory{
    width: 245px;
    color: blue;
    text-align: center;
}

#nooftweets{
    width: 245px;
    color: red;
    text-align: center;
}

#errormessage{
    color: red !important;
}

#nohashtagsmessage{
    color: skyblue !important;
}