{% extends "business/base.html" %}
{% load static %}

{% block content %}
<br><br><br><br>
<div class="container">
    <a class="btn btn-warning" href="{% url 'cfunctions' %}"><strong>Go To Functions</strong></a>
    <h2>Comparative Analysis</h2>
    <p>It is important to compare your brand with other ones or get insights from
    comparing two successful brands and plan strategies accordingly.
    Different parameters are given for comparison e.g., likes, retweets. Followers.</p>
</div>
{% endblock content %}