{% extends 'business/base.html'%}
{% load static %}
{% block content%}

<br><br><br><br>
<div class="container">
  <div class="row">
    <div id="gbform" class="col-lg-3">
      <br>
      <form name="gbform" action="" method="post" onsubmit="return form_validation()">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" id="username" name="username"
            placeholder="goto twitter, copy username" autofocus>
          <br>
          <select onchange="showbusinesses()" title="Select Business Category" id="selectcategory" class="form-select"
            aria-label="Default select example" name="selectcategory">
            <option selected>Select Business Category</option>
            <option value="clothing">Clothing</option>
            <option value="technology">Technology</option>
            <option value="foodonline">Food Online</option>
            <option value="mobilepayment">Mobile Payment</option>
            <option value="onlineshopping">Online Shopping</option>
            <option value="footwear">Footwear</option>
            <option value="property">Property</option>
            <option value="beverage">Beverage</option>
            <option value="banks">Banks</option>
            <option value="mobileoperator">Cellular Companies</option>
            <option value="automobiles">Automobiles</option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>
        <div class="form-group">
          <select title="Select Business" id="selectbusiness" class="form-select" aria-label="Default select example"
            name="selectbusiness">
            <option selected>Select Business</option>
            <option value="" id="1"></option>
            <option value="" id="2"></option>
            <option value="" id="3"></option>
            <option value="" id="4"></option>
            <option value="" id="5"></option>
            <option value="" id="6"></option>
            <option value="" id="7"></option>
            <option value="" id="8"></option>
            <option value="" id="9"></option>
            <option value="" id="10"></option>
          </select>
        </div>
        <div class="form-group">
          <select title="Select No of Tweets" id="nooftweets" class="form-select" aria-label="Default select example"
            name="nooftweets">
            <option selected>Select No of Tweets</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="300">300</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
        </div>
        <!--<div class="btn-group-vertical btn-group-lg btn-group-justified">-->
        <button name="showtags" class="btn btn-primary btn-length" type="submit"><b>Show Hashtags</b></button>
        <br><br>
        <button name="showfwords" class="btn btn-primary btn-length" type="submit"><b>Topic Identification</b></button>
        <br><br>
        <button name="showurls" class="btn btn-primary btn-length" type="submit"><b>See URL's</b></button>
        <br><br>
        <button name="showmentions" class="btn btn-primary btn-length" type="submit"><b>See Mentions</b></button>
      </form>
      <br>
      <button onclick="generate_pdf()" class="btn btn-outline-success ">Generate PDF</button>
    </div>
    <div class="canvas_div_pdf col-lg-9">
      <p id="gbinstructions">
      <h2 id="instructionheading">Instructions</h2>
      <ul id="instructionslist">
        <li><strong>Javascript of browser must be enabled</strong></li>
        <ul>
          <li>form validation will not be done</li>
          <li>PDF generation may give errors</li>
        </ul>
        <li><strong>You have two options to select business for analysis</strong></li>
        <ul>
          <li>Either goto twitter and copy username, Paste Username in input box</li>
          <li>Select Category and than Business</li>
        </ul>
        <li><strong>Select Number of tweets you want to run analysis</strong></li>
        <li><strong>Click Button for Analysis you want</strong></li>
        <li><strong>Generate PDF button will create PDF for you</strong></li>
      </ul>
      </p>
      <h2 id="errormessage">{{errormessage}}</h2>
      <h2 id="nohashtagsmessage">{{nohashtagsmessage}}</h2>
      <h2>{{businessnameerror}}</h2>
      <h2>{{nooftweetserror}}</h2>
      <h4 id="userid"><strong>{{userid}}</strong></h4>
      <ul style="line-height: 50px;">
        <li id="description"><strong>Description : </strong>{{userdescription}}</li>
        <li id="nooftweetsinfo"><strong>Number of Tweets : </strong>{{nooftweets}}</li>
        <li id="followersmsg"><strong>Followers : </strong>{{userfollowers}}</li>
        <li id="lenofhashtagsmsg"><strong>Unique Hashtags : </strong>{{lenofhashtagsmsg}}</li>
        <!--<li id="mostusedhashtag"><strong>Mostly used Hashtag : </strong>{{mostusedhashtag}}</li>-->
        <!--<li id="mostusedmention"><strong>Mostly Mentioned : </strong>{{mostusedmention}}</li>-->
        <!--<li id="mostusedword"><strong>Most used Word : </strong>{{mostusedword}}</li>
        <li id="numbernote">Number with each hashtag tells how many times it has been used in {{nooftweets}} tweets</li>-->
      </ul>
      <!--
      <h5 id="description">-- <strong>Description : </strong>{{userdesription}}</h5>
      <h5 id="nooftweetsinfo">-- Number of Tweets <strong>{{nooftweets}}</strong></h5>
      <h5 id="followersmsg">-- Followers: <strong>{{userfollowers}}</strong></h5>
      <h5 id="lenofhashtagsmsg">-- <strong>{{lenofhashtagsmsg}}</strong></h5>
      <h5 id="mostusedhashtag">-- Mostly used hashtag: <strong>{{mostusedhashtag}}</strong></h5>
      <h5 id="mostusedmention">--mostly mentioned:<strong>{{mostusedmention}} </strong></h5>
      <h6 id="numbernote">-- number with each hashtag tells how many times it has been used in {{nooftweets}} tweets.
      </h6>
      -->
      <!--MENTIONS
      {% for mention in mentions %}
      <h5>{{mention}}</h5>
      {% endfor %}
      -->
      <!--FREQUENTLY USED KEYWORDS-->
      <!--
      {% for word in frequentwords %}
      <h2>{{word}}</h2>
      {% endfor %}
      -->
      <!--TOPIC IDENTIFICATION-->
      <div id="topicidentification" class="table-responsive table-condensed table-bordered">
        <table   class="table">
          <thead class="thead-dark">
            <tr>
              <th>Word</th>
              <th>Frequency</th>
            </tr>
          </thead>
          <tbody>
            {% for word, frequency in frequentwords.items %}
            <tr>
              <td>{{word}}</td>
              <td>{{frequency}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!--MENTIONS-->
      <div id="mentionstable" class="table-responsive table-condensed table-bordered">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Mentions</th>
              <th>Frequency</th>
            </tr>
          </thead>
          <tbody>
            {% for mention, frequency in mentions.items %}
            <tr>
              <td>{{mention}}</td>
              <td>{{frequency}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!--HASHTAGS-->
      <div id="hashtable" class="table-responsive table-condensed table-bordered">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Hashtag</th>
              <th>Frequency</th>
            </tr>
          </thead>
          <tbody>
            {% for hashtag, frequency in hashdictionary.items %}
            <tr>
              <td>{{hashtag}}</td>
              <td>{{frequency}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!--
      <div class="row">
        <div class="col-lg-6 mx-auto">
          {% for tag in tags%}
          {% if forloop.counter <= lenofhashtags %} <ul>
            <li>{{tag}}</li><br>
            </ul>
            {% endif %}-->
            <!--<h3 style="color: rgb(41, 40, 124);">{{tag}}</h3>
            {% endfor %}
            
        </div>-->
        <!--
        <div class="col-lg-6 mx-auto">
          {% for tag in tags%}
          {% if forloop.counter > lenofhashtags %}
          <ul>
            <li>{{tag}}</li><br>
          </ul>
          {% endif %}
          {% endfor %}
        </div>

      </div>
    -->
    <!--URL'S-->
    <div id="urlstable" class="table-responsive table-condensed table-bordered">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>S.No</th>
            <th>Date</th>
            <th>URL's</th>
          </tr>
        </thead>
        <tbody>
          {% for date, url in urls.items %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{date}}</td>
            <td>{{url}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!--
      <div class="row">
        <div class="col">
          {% for link in urls %}
          <a href="{{link}}">{{link}}</a>
          <br><br><br>
          {% endfor %}
        </div>

        <div class="col">
          {% for title in linktitles %}
          <h6>{{title}}</h6>
          <br><br>
          {% endfor %}
        </div>
      </div>
      -->
    </div>
  </div>
</div>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>-->
<script>
  document.getElementById("userid").style.display = "none";
  document.getElementById("description").style.display = "none";
  document.getElementById("followersmsg").style.display = "none";
  document.getElementById("lenofhashtagsmsg").style.display = "none";
  //document.getElementById("numbernote").style.display = "none";
  document.getElementById("nooftweetsinfo").style.display = "none";
  //document.getElementById("mostusedhashtag").style.display = "none";
  //document.getElementById("mostusedmention").style.display = "none";
  //document.getElementById("mostusedword").style.display = "none";
  document.getElementById("topicidentification").style.display = "none";
  document.getElementById('hashtable').style.display = 'none';
  document.getElementById("mentionstable").style.display = "none";
  document.getElementById("urlstable").style.display = "none";
  /////////////////////////////////////
  /*
  function generate_pdf(){
    var doc = new jsPDF();
    var content = document.querySelector("#gbpage");
    doc.fromHTML(content, 15,15);
    doc.save("report.pdf");
  }*/

  //FORM VALIDATION
  function form_validation() {
    business_category = document.forms["gbform"]["selectcategory"].value;
    business_name = document.forms["gbform"]["selectbusiness"].value;
    no_of_tweets = document.forms["gbform"]["nooftweets"].value;
    username = document.forms["gbform"]["username"].value;
    //
    if (business_category != "Select Business Category" && username != "") {
      alert("Either input username or select from categories and business, you have selected both");
      return false;
    }
    if (username != "" && no_of_tweets != "Select No of Tweets") {
      return true;
    }
    // NO OPTION SELECTED
    if (business_category == "Select Business Category" && business_name == "Select Business" && no_of_tweets == "Select No of Tweets") {
      // BUSINESS NAME AND NUMBER OF TWEETS NOT SELECTED
      alert("Select Options");
      return false;
    }
    // ONLY BUSINESS CATEGORY SELECTED  
    else if (business_category != "Select Business Category" && business_name == "Select Business" && no_of_tweets == "Select No of Tweets") {
      alert("You forgot to Select Business and Number of Tweets");
      return false;
    }
    // NUMBER OF TWEETS NOT SELECTED
    else if (business_category != "Select Business Category" && business_name != "Select Business" && no_of_tweets == "Select No of Tweets") {
      alert("Select Number of Tweets");
      return false;
    }
    // BUSINESS CATEGORY AND NUMBER OF TWEETS NOT SELECTED 
    else if (business_category == "Select Business Category" && business_name == "Select Business" && no_of_tweets != "Select No of Tweets") {
      alert("Select Business Category and Business");
      return false;
    }
    // NUMBER OF TWEETS NOT SELECTED
    else if (business_category != "Select Business Category" && business_name == "Select Business" && no_of_tweets != "Select No of Tweets") {
      alert("Select Business");
      return false;
    }
    // ONLY CATEGORY AND NUMMBER OF TWEETS SELECTED
    else if (business_category != "Select Business Category" && business_name == "Select Business" && no_of_tweets != "Select No of Tweets") {
      alert("Select Business");
      return false;
    }
    // RETRURN TRUE 
    else {
      return true;
    }
  }

  //alert("Selec Options");
  //return false;

  //}

  function display() {
    document.getElementById("userid").style.display = "block";
    document.getElementById("description").style.display = "block";
    document.getElementById("followersmsg").style.display = "block";
    document.getElementById("lenofhashtagsmsg").style.display = "block";
    //document.getElementById("numbernote").style.display = "block";
    document.getElementById("nooftweetsinfo").style.display = "block";
    //document.getElementById("mostusedhashtag").style.display = "block";
    //document.getElementById("mostusedmention").style.display = "block";
    //document.getElementById("mostusedword").style.display = "block";
  }

  function hide_instructions() {
    document.getElementById("instructionheading").style.display = "none";
    document.getElementById("instructionslist").style.display = "none";
  }

  if ('{{display_message}}' == 'yes') {
    hide_instructions();
    display();
  }

  if ('{{onlytags}}' == 'yes') {
    //document.getElementById("mostusedmention").style.display = "none";
    //document.getElementById("mostusedword").style.display = "none";
    document.getElementById("hashtable").style.display = "block";
  }

  if ('{{onlyfwords}}' == 'yes') {
    //document.getElementById("mostusedhashtag").style.display = "none";
    //document.getElementById("mostusedmention").style.display = "none";
    document.getElementById("lenofhashtagsmsg").style.display = "none";

    document.getElementById("topicidentification").style.display = "block";
  }

  if ('{{onlymentions}}' == 'yes'){
    document.getElementById("mentionstable").style.display = "block";
    document.getElementById("lenofhashtagsmsg").style.display = "none";
  }

  if ('{{onlyurls}}' == 'yes'){
    document.getElementById("lenofhashtagsmsg").style.display = "none";
    document.getElementById("urlstable").style.display = "block";
  }
/*
    if ('{{display_message}}' == 'yes') {
  
      hide_instructions();
    }
  */
</script>

{% endblock content%}