{% extends 'business/base.html'%}
{% load static %}
{% block content%}
<div class="container">
  <div class="row">
    <div id="gbform" class="col-lg-3">
      <br>
      <form   action="" method="post" >
        {% csrf_token %}
        <div class="form-group">
            <select onchange= "showbusinesses()" title="Select Business Category" id="selectcategory" class="form-select" aria-label="Default select example" name="selectcategory" autofocus>
              <option selected>Select Business Category</option>
              <option value = "clothing">Clothing</option>
              <!--
              <option value="smartphones">Smart Phones</option>
              -->
              <option value="technology">Technology</option>
              <option value="foodonline">Food Online</option>
              <option value="mobilepayment">Mobile Payment</option>
              <option value="onlineshopping">Online Shopping</option>
              <option value="footwear">Footwear</option>
              <option value="property">Property</option>
              <option value="beverage">Beverage</option>
              <option value="banks">Banks</option>
              <option value="mobileoperator">Cellular Companies</option>
              <option value="automobiles">Automobiles</option>
              <option value=""></option>
              <option value=""></option>
            </select>
        </div>
        <br>
          <div class="form-group">
            <select title="Select Business" id="selectbusiness" class="form-select" aria-label="Default select example" name="selectbusiness" autofocus>
              <option selected>Select Business</option>
              <option value="" id="1"></option>
              <option value="" id="2"></option>
              <option value="" id="3"></option>
              <option value="" id="4"></option>
              <option value="" id="5"></option>
              <option value="" id="6"></option>
              <option value="" id="7"></option>
              <option value="" id="8"></option>
              <option value="" id="9"></option>
              <option value="" id="10"></option>
            </select>
          </div>
          <div class="form-group">
             <br>
            <select title="Select No of Tweets" id="nooftweets" class="form-select" aria-label="Default select example" name="nooftweets" autofocus>
              <option selected>Select No of Tweets</option>
              <option value="100">100</option>
              <option value="300">300</option>
              <option value="500">500</option>
            </select>
          </div>
       
        <br>
        <div class="btn-group-vertical btn-group-lg btn-group-justified" >
          <button name="showtags" class="btn btn-primary" type = "submit"><b>Show Hashtags</b> </button>
          <button name="showfwords"  class="btn btn-success " type="submit"><b>Topic Identification</b></button>
          <button name="showurls" class="btn btn-warning" type="submit"><b>See URL's</b></button>
          <button name="showmentions" class="btn btn-info" type="submit"><b>See Mentions</b></button>
          <button name="showtestgraph" class="btn btn-dark" type="submit"><b>Show test plot</b></button>
        </div>
      </form>
      <br><br>
    </div>

    <div class="col-lg-9">
      <h2 id="errormessage">{{errormessage}}</h2>
      <h2 id="nohashtagsmessage">{{nohashtagsmessage}}</h2>
      <h2>{{businessnameerror}}</h2>
      <h2>{{nooftweetserror}}</h2>
<!--
<img src="{% static '{{imagepath}}' %}" alt="not successful">
<h2>{{imagepath}}</h2>
-->
<!--
<img src="{% static 'business/assets/visualize/temp.png' %}" alt="image not found">
-->
<!--show frequently used words-->
      {% for word in frequentwords %}
      <h3>{{word}}</h3>
      {% endfor %}

      {% for mention in mentions %}
      <h5>{{mention}}</h5>
      {%endfor%}

<!--SHOW HASHTAGS-->
      <!--
         <ul>
        <li id="userid"><strong>{{userid}}</strong></li>
        <li id="description"><strong>Description : </strong>{{userdesription}}</li>
        <li id="nooftweetsinfo">Number of Tweets <strong>{{nooftweets}}</strong></li>
        <li id="followersmsg">Followers: <strong>{{userfollowers}}</strong></li>
        <li id="lenofhashtagsmsg"><strong>{{lenofhashtagsmsg}}</strong></li>
        <li id="mostusedhashtag">Mostly used hashtag: <strong>{{mostusedhashtag}}</strong></li>
        <li id="numbernote">number with each hashtag tells how many times it has been used in <strong>{{nooftweets}}</strong> tweets.</li>
      </ul>
      -->
      <h4 id="userid"><strong>{{userid}}</strong></h4><br>
      <h5 id="description">-- <strong>Description : </strong>{{userdesription}}</h5>
      <h5 id="nooftweetsinfo">-- Number of Tweets <strong>{{nooftweets}}</strong></h5>
      <h5 id="followersmsg">-- Followers: <strong>{{userfollowers}}</strong></h5>
      <h5 id="lenofhashtagsmsg">-- <strong>{{lenofhashtagsmsg}}</strong></h5>
      <h5 id="mostusedhashtag">-- Mostly used hashtag: <strong>{{mostusedhashtag}}</strong></h5>
      <h6 id="numbernote">-- number with each hashtag tells how many times it has been used in <strong>{{nooftweets}}</strong> tweets.</h6>
      <div class="row">
        <div class="col-lg-6 mx-auto">
          {% for tag in tags%}
          {% if forloop.counter <= lenofhashtags %}
          <ul>
            <li>{{tag}}</li><br>
          </ul>
          {% endif %}
    <!--<h3 style="color: rgb(41, 40, 124);">{{tag}}</h3>-->
      {% endfor %}
        </div>
        <div class="col-lg-6 mx-auto">
          {% for tag in tags%}
          {% if forloop.counter >  lenofhashtags %}
          <ul>
            <li>{{tag}}</li>
            <br>
          </ul>
          {% endif %}
    <!--<h3 style="color: rgb(41, 40, 124);">{{tag}}</h3>-->
      {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% for link in urls %}
            <a href="{{link}}">{{link}}</a>
            <br><br><br>
          {% endfor %}    
        </div>
        <div class="col">
          {% for title in linktitles %}
            <h6>{{title}}</h6>
            <br><br>
          {% endfor %}  
        </div>
      </div>
    </div> 
  </div>
</div>

<script>
  document.getElementById("userid").style.display="none";
  document.getElementById("description").style.display="none";
  document.getElementById("followersmsg").style.display="none";
  document.getElementById("lenofhashtagsmsg").style.display="none";
  document.getElementById("numbernote").style.display = "none";
  document.getElementById("nooftweetsinfo").style.display = "none";
  document.getElementById("mostusedhashtag").style.display = "none";
  function display(){
    document.getElementById("userid").style.display="block";
    document.getElementById("description").style.display="block";
    document.getElementById("followersmsg").style.display="block";
    document.getElementById("lenofhashtagsmsg").style.display="block";
    document.getElementById("numbernote").style.display = "block";
    document.getElementById("nooftweetsinfo").style.display = "block";
    document.getElementById("mostusedhashtag").style.display = "block";
  }
  if('{{display_message}}'=='yes'){
    display();
  }  
</script>

{% endblock content%}