{% extends 'business/base.html'%}
{% load static %}
{% block content%}

<div class="d-flex align-items-center">
<form id="functions" method="post" >
  {% csrf_token %}
  <!--SELECT MENU-->
  <select onchange= "showbusinesses()" title="Select Business Category" id="selectcategory" class="form-select" aria-label="Default select example" name="selectcategory" >
      <option selected>Select Business/Category</option>
      <option value = "clothing" id="">Clothing</option>
      <option value="foodonline">Food Online</option>
      <option value="mobilepayment">Mobile Payment</option>
      <option value="onlineshopping">Online Shopping</option>
      <option value="footwear">Footwear</option>
      <option value="property">Property</option>
      <option value="beverage">Beverage</option>
      <option value="banks">Banks</option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
  </select>
  
  <select onchange="changed()" title="Select Business" id="selectbusiness" class="form-select" aria-label="Default select example" name="selectbusiness">
    <option selected>Select Business</option>
    <option value="" id="1"></option>
    <option value="" id="2"></option>
    <option value="" id="3"></option>
    <option value="" id="4"></option>
    <option value="" id="5"></option>
    <option value="" id="6"></option>
    <option value="" id="7"></option>
    <option value="" id="8"></option>
    <option value="" id="9"></option>
    <option value="" id="10"></option>
  </select>
  <!--INPUT AND SEARCH TOPIC-->
  <br><br>
  <!--
  <h3>Enter Twitter id of Business</h3>-->
  <!--
  <input type="text" name="userid" id="userid", value=""> 
  -->
  <h5 style="display: inline;">Enter No. of Tweets</h5>
  <input type="text" name="nooftweets" id="", value="">
  <br><br>
  <button name="showtags" class="btn btn-success" type = "submit"><b>Show Hashtags</b> </button>
  <button name="showfwords"  class="btn btn-warning " type="submit"><b>Topic Identification</b> </button>
  <button name="showurls" class="btn btn-primary" type="submit"><b> See URL's</b></button>
  <button name="showmentions" class="btn btn-outline-danger" type="submit">See Mentions</button>
  <button name="showtestgraph" class="btn btn-dark" type="submit">Show test plot</button>
</form>
</div>

<h2 style="color: red;">{{errormessage}}</h2>
<h2 style="color: red;">{{nohashtagsmessage}}</h2>
<!--
<img src="{% static '{{imagepath}}' %}" alt="not successful">
<h2>{{imagepath}}</h2>
<img src="{% static 'business/assets/visualize/temp.png' %}" alt="">
-->
<!--show frequently used words-->
{% for word in frequentwords %}
    <h3>{{word}}</h3>
{% endfor %}

{% for mention in mentions %}
    <h3>{{mention}}</h3>
{%endfor%}

<!--SHOW HASHTAGS-->
{% for tag in tags %}
    <ul style="list-style-position: outside;">
      <li style="padding-right: 30px;">{{tag}}</li>
    </ul>
    <!--<h3 style="color: rgb(41, 40, 124);">{{tag}}</h3>-->
{% endfor %}
<br><br>

<div class="row">
    <div class="col">
      {% for link in urls %}
        <a href="{{link}}">{{link}}</a>
        <br><br><br>
      {% endfor %}    
    </div>

    <div class="col">
      {% for title in linktitles %}
          <h6>{{title}}</h6>
          <br><br>
      {% endfor %}  
    </div>
</div>
<!--SCRIPT STARTS-->
<script>
  /*
  document.addEventListener('DOMContentLoaded', function(){
    document.querySelector('a').onclick=disablelinks;
  })

  function disablelinks() {
    document.getElementsByTagName('li').disabled = true;
  }*/
// function to hide selectionboxes
  function hideselectionboxes(){
    document.getElementById("1").style.display= "none";
    document.getElementById("2").style.display= "none";
    document.getElementById("3").style.display= "none";
    document.getElementById("4").style.display= "none";
    document.getElementById("5").style.display= "none";
    document.getElementById("6").style.display= "none";
    document.getElementById("7").style.display= "none";
    document.getElementById("8").style.display= "none";
    document.getElementById("9").style.display= "none";
    document.getElementById("10").style.display= "none";
  }

  function changed(){
    document.getElementById("userid").value = document.getElementById("selectbusiness").value;
  }
// hide selectionboxes
  hideselectionboxes()

  function showselectionboxes(){
    document.getElementById("1").style.display= "block";
    document.getElementById("2").style.display= "block";
    document.getElementById("3").style.display= "block";
    document.getElementById("4").style.display= "block";
    document.getElementById("5").style.display= "block";
    document.getElementById("6").style.display= "block";
    document.getElementById("7").style.display= "block";
    document.getElementById("8").style.display= "block";
    document.getElementById("9").style.display= "block";
    document.getElementById("10").style.display= "block";
  }

  function showbusinesses(){
    // get value of selected category
    var category = document.getElementById("selectcategory").value;
    switch(category){
      case "clothing":
        showselectionboxes(); // show selection boxes
        document.getElementById("1").innerHTML = "J. Junaid Jamshed";
        document.getElementById("1").value = "@_JunaidJamshed"
        document.getElementById("2").innerHTML = "Gul Ahmed";
        document.getElementById("2").value = "@GulahmedFashion"
        document.getElementById("3").innerHTML = "";
        document.getElementById("3").value = ""
        document.getElementById("4").innerHTML = "";
        document.getElementById("4").value = ""
        document.getElementById("5").innerHTML = "";
        document.getElementById("5").value = ""
        document.getElementById("6").innerHTML = "";
        document.getElementById("6").value = ""
        document.getElementById("7").innerHTML = "";
        document.getElementById("7").value = ""
        document.getElementById("8").innerHTML = "";
        document.getElementById("8").value = ""
        document.getElementById("9").innerHTML = "";
        document.getElementById("9").value = ""
        document.getElementById("10").innerHTML = "";
        document.getElementById("10").value = ""
        break;

      case "foodonline":
        showselectionboxes(); 
        document.getElementById("1").innerHTML = "foodpanda";
        document.getElementById("1").value = "@foodpanda_pk"
        document.getElementById("2").innerHTML = "kfcpakistan";
        document.getElementById("2").value = "@kfc_pk"
        document.getElementById("3").innerHTML = "MENU";
        document.getElementById("3").value = "@Seasonsfoods"
        document.getElementById("4").innerHTML = "Eat Mubarak";
        document.getElementById("4").value = "@EatMubarak_Pk"
        document.getElementById("5").innerHTML = "Supermeal Pakistan";
        document.getElementById("5").value = "@SupermealPK"
        document.getElementById("6").innerHTML = "K&N's Pakistan";
        document.getElementById("6").value = "@KandNs"
        document.getElementById("7").innerHTML = "foodpakistan";
        document.getElementById("7").value = "@Foodpakistanpk"
        document.getElementById("8").innerHTML = "foodnerd";
        document.getElementById("8").value = "@Foodnerdpk"
        document.getElementById("8").innerHTML = "cheetay";
        document.getElementById("8").value = "@cheetaypk"
        break;

      case "onlineshopping":
        showselectionboxes(); 
        document.getElementById("1").innerHTML = "";
        document.getElementById("2").innerHTML = "";
        document.getElementById("3").innerHTML = "";
        document.getElementById("4").innerHTML = "";
        document.getElementById("5").innerHTML = "";
        document.getElementById("6").innerHTML = "";
        document.getElementById("7").innerHTML = "";
        document.getElementById("8").innerHTML = "";
        document.getElementById("9").innerHTML = "";
        document.getElementById("10").innerHTML = "";
        break;
      
      case "mobilepayment":
        showselectionboxes(); // show selection boxes
        document.getElementById("1").innerHTML = "JazzCash";
        document.getElementById("1").value = "@JazzCash"
        document.getElementById("2").innerHTML = "EasyPaisa";
        document.getElementById("2").value = "@easypaisa"
        document.getElementById("3").innerHTML = "Zong PayMax";
        document.getElementById("3").value = "@Zongers"
        document.getElementById("4").innerHTML = "UBL Omni";
        document.getElementById("4").value = "@UBLDigital"
        document.getElementById("5").innerHTML = "Keenu Wallet";
        document.getElementById("5").value = "KeenuPak"
        document.getElementById("6").innerHTML = "SimSim";
        document.getElementById("6").value = "@FINCA_Pakistan"
        document.getElementById("7").innerHTML = "UPaisa";
        document.getElementById("7").value = "@UpaisaOfficial"
        break;

      case "footwear":
        showselectionboxes(); 
        document.getElementById("1").innerHTML = "";
        document.getElementById("2").innerHTML = "";
        document.getElementById("3").innerHTML = "";
        document.getElementById("4").innerHTML = "";
        document.getElementById("5").innerHTML = "";
        document.getElementById("6").innerHTML = "";
        document.getElementById("7").innerHTML = "";
        document.getElementById("8").innerHTML = "";
        document.getElementById("9").innerHTML = "";
        document.getElementById("10").innerHTML = "";
        break;
      
      

      default:
        hideselectionboxes(); // call function for hiding selection boxes
  }}
</script>
{% endblock content%}