{% extends 'business/base.html'%}
{% load static %}

{% block content %}
<!--NAVIGATE TO FUNCTION BUTTON-->
<a class="btn btn-primary" href="{% url 'gbfunctions' %}"> Go To Functions</a>
<div class="container">
  <div class="row">
    <div class="col-lg-6"><h2 style="color: #0c8010; ">Introduction</h2>
      <p style="text-align: justify;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed lorem fermentum, dapibus nulla ac, aliquet 
      massa. Integer dictum turpis non arcu dapibus laoreet. Vestibulum vitae justo in mauris tristique facilisis et 
      nec odio. Etiam eu accumsan orci, et tincidunt quam. Integer a finibus neque, a imperdiet elit. Quisque suscipit 
      sapien tellus, sed dictum diam feugiat quis. Curabitur feugiat, elit iaculis mattis volutpat, diam ligula 
      tristique neque, sit amet mollis metus elit sed magna. Pellentesque habitant morbi tristique senectus et netus et 
      malesuada fames ac turpis egestas.
      </p>
    </div>

    <div class="col-lg-6"><h2 style="color: #0c8010;">Topic Identification</h2>
      <p style="color: rgb(0, 128, 115); text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed lorem fermentum, dapibus nulla ac, aliquet 
        massa. Integer dictum turpis non arcu dapibus laoreet. Vestibulum vitae justo in mauris tristique facilisis et 
        nec odio. Etiam eu accumsan orci, et tincidunt quam. Integer a finibus neque, a imperdiet elit. Quisque suscipit 
        sapien tellus, sed dictum diam feugiat quis. Curabitur feugiat, elit iaculis mattis volutpat, diam ligula 
        tristique neque, sit amet mollis metus elit sed magna. Pellentesque habitant morbi tristique senectus et netus et 
        malesuada fames ac turpis egestas.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2 style="color: #0c8010;">Hashtags</h2>
      <p style="color: rgb(0, 30, 128); text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed lorem fermentum, dapibus nulla ac, aliquet 
        massa. Integer dictum turpis non arcu dapibus laoreet. Vestibulum vitae justo in mauris tristique facilisis et 
        nec odio. Etiam eu accumsan orci, et tincidunt quam. Integer a finibus neque, a imperdiet elit. Quisque suscipit 
        sapien tellus, sed dictum diam feugiat quis. Curabitur feugiat, elit iaculis mattis volutpat, diam ligula 
        tristique neque, sit amet mollis metus elit sed magna. Pellentesque habitant morbi tristique senectus et netus et 
        malesuada fames ac turpis egestas.
      </p>
    </div>

    <div class="col-lg-6">
      <h2 style="color: #0c8010;">Web Links</h2>
      <p style="color: rgb(163, 8, 143); text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed lorem fermentum, dapibus nulla ac, aliquet 
        massa. Integer dictum turpis non arcu dapibus laoreet. Vestibulum vitae justo in mauris tristique facilisis et 
        nec odio. Etiam eu accumsan orci, et tincidunt quam. Integer a finibus neque, a imperdiet elit. Quisque suscipit 
        sapien tellus, sed dictum diam feugiat quis. Curabitur feugiat, elit iaculis mattis volutpat, diam ligula 
        tristique neque, sit amet mollis metus elit sed magna. Pellentesque habitant morbi tristique senectus et netus et 
        malesuada fames ac turpis egestas.
      </p>
    </div>
  </div>
</div>
{% endblock content %}