{% extends "business/base.html" %}
{% load static %}

{% block content %}
<br><br><br><br>
<div class="container">

<a class="btn btn-warning" href="{% url 'vfunctions' %}"><strong>Go To Functions</strong> </a><br>
<h2>Visualization</h2>
<p>Reading out report of several pages about hashtags would take time.
Graphs provide more fast information, saving time. Hashtags have been
visualized in two kinds of charts. Firs one is bar chart and second one is pie
chart. Bar chart shows information in bars and pie chart shows percentage of
items. Mentions have been also visualized in same two charts. For likes and
retweets line chart has been used. Word frequency has been visualized in two
charts named as wordcloud and frequency distribution chart. Wordcloud can
be used by import wordcloud library and later can be used by NLTK functions.
Further Bigram networks are provided for mapping network of cooccurrence
of words. Below outputs are attached.</p>
</div>
{% endblock content %}